version: 2.1

executors:
  rocky8: &rocky8-executor
    docker:
      - image: tools-ext-01.ccr.xdmod.org/xdmod:x86_64-rockylinux8.9.20231119-v11.0.0-1.0-02

jobs:
  build:
    parameters:
      os:
        type: executor
      install-type:
        type: string
    executor: << parameters.os >>
    environment:
      COMPOSER_ALLOW_SUPERUSER: 1
      XDMOD_REALMS: 'jobs,storage,cloud,resourcespecifications'
      XDMOD_BRANCH: main
      XDMOD_MODULE_NAME: appkernels
      XDMOD_IS_CORE: yes
      XDMOD_INSTALL_DIR: /xdmod
      XDMOD_TEST_MODE: << parameters.install-type >>
    steps:
      - run:
          name: Install Python3
          command: dnf -y install --setopt=tsflags=nodocs python3
      - checkout
      - run:
          name: Create Test Result Directory
          command: mkdir -p ./shippable/testresults
      - run:
          name: Setup Environment Variables
          command: |
            echo "export XDMOD_APPKERNEL_DIR=$HOME/project" >> $BASH_ENV
            echo "export XDMOD_SOURCE_DIR=$HOME/xdmod" >> $BASH_ENV
      - run:
          name: Setup & Run Tests
          command: ./tests/runtests.sh
      - run:
          name: Ensure that no unexpected Apache errors were generated
          command: test ! -e /var/log/php-fpm/www-error.log
      - run:
          name: Ensure that no PHP command-line errors were generated
          command: >
            if [ -e /var/log/php_errors.log ]; then
                test `egrep -v "PHP Deprecated.*vendor\/.*|PHP Notice:  fread()|phpunit.*" /var/log/php_errors.log | wc -l` = 0;
            fi
      - store_artifacts:
          path: /tmp/screenshots
      - store_artifacts:
          path: /var/log/xdmod
      - store_artifacts:
          path: /var/log/php-fpm
      - store_artifacts:
          path: /var/log/php_errors.log
      - store_test_results:
          path: ./shippable/testresults

workflows:
  full-build:
    jobs:
      - build:
          matrix:
            parameters:
              os: [rocky8]
              install-type: ["fresh_install", "upgrade"]
